{% extends 'base.html' %}
{% block title %} Вылеченные заболевания {% endblock %}
{% block main %}

<h2>Статистика по вылеченным заболеваниям</h2>

<form action="{% url 'documents:hiled_diseases_statistics' %}" method="get" name="period_form">
    <label for="period_start">Начало периода</label>
    <input id="period_start" name="period_start" type="date" value="{{ period_start }}">

    <label for="period_end">Конец периода</label>
    <input id="period_end" name="period_end" type="date" value="{{ period_end }}">

    <button type="submit">Получить статистику</button>
</form>

<br>

{% for conclusion in conclusions %}
<div class="content-item">
    <p>Заболевание: {{ conclusion.diagnosis.name }}</p>
    <p>Пациент: {{ conclusion.patient.surname }} {{ conclusion.patient.name }}</p>
    <p>Доктор: {{ conclusion.doctor.surname }} {{ conclusion.doctor.name }}</p>
    <p>Время регистрации: {{ conclusion.registration_time }}</p>
    {% if conclusion.description %}
    <div>
        Описание: {{ conclusion.description }}
    </div>
    {% endif %}
</div>
<br>
{% endfor %}

{% endblock %}
