<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Больница
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'reference_info:index' %}">Справочная информация</a>
        <a href="{% url 'persons:index' %}">Люди</a>
        <a href="{% url 'documents:index' %}">Документы</a>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>