{% extends 'base.html' %}
{% load static %}
{% block main %}
<h2>Добро пожаловать на сайт больницы</h2>

<div class="info">
    Рады приветствовать вас на сайте больницы. Мне лень придумывать, так что дальше пойдет рыбий текст.
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, beatae delectus ipsum porro quasi
        sapiente similique tenetur totam. Accusantium beatae ea error eveniet illo laudantium minus, nesciunt nostrum
        officia pariatur?
    </div>
    <div>Dolore fugiat illum, officia porro praesentium ratione veniam. Beatae consequuntur cupiditate deleniti ex
        explicabo illum itaque libero magnam minima molestiae, nesciunt nobis quia quidem rerum saepe temporibus tenetur
        velit veritatis?
    </div>
    <div>A ad dolore enim et facere minima nulla officia pariatur quas ratione sed temporibus vitae, voluptatibus.
        Aliquam architecto at debitis dicta eos laboriosam mollitia officia quas, repellat, sit vero voluptatibus.
    </div>
    <div>A accusantium ad delectus distinctio dolorum ea excepturi, fuga fugiat fugit harum illo neque nesciunt nihil
        nobis optio porro provident quae quam quia quis rem saepe sapiente sequi temporibus velit!
    </div>
    <div>Doloremque et eveniet hic id illo illum impedit inventore iste laudantium minima nam nesciunt perferendis,
        quisquam ratione rem repellat soluta tenetur veniam voluptates voluptatibus. Blanditiis cupiditate impedit
        itaque nostrum possimus!
    </div>
    <div>Deserunt excepturi fuga nisi, pariatur porro reprehenderit sit temporibus. Adipisci aliquam amet commodi culpa
        cumque cupiditate eaque error esse harum impedit ipsam nemo porro provident quibusdam reiciendis repellendus,
        sed unde.
    </div>
    <div>Aliquid assumenda at autem delectus in minus molestias quas quibusdam repellendus sed. Ad animi consequuntur
        dignissimos doloremque, ea expedita fuga, impedit ipsam maxime natus quam quas quod repellendus sapiente
        similique.
    </div>
    <div>Amet aperiam est nemo sed sit? Asperiores at autem commodi doloremque eaque, earum facere, fugiat, hic
        inventore natus nemo officia pariatur quae quasi quia repudiandae similique ullam voluptas voluptate voluptates?
    </div>
</div>
{% endblock %}
